<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Candles</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Gráfico de Candles, Volume, Médias Móveis e RSI da Ação {{ acao }}</h1>
    
    <div>
        <!-- Div para exibir o gráfico -->
        <div id="grafico">{{ plot | safe }}</div>

        <!-- Formulário para escolher outra ação -->
        <form method="post" action="/">
            <label for="acao">Escolha outra ação:</label>
            <input type="text" id="acao" name="acao" placeholder="Digite o símbolo da ação">
            <input type="submit" value="Visualizar">
        </form>
    </div>
</body>
</html>
