<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Candles, Volume, Médias Móveis e RSI da Ação {{ acao }}</title>
    <!-- Insira aqui os links para os arquivos CSS e JS do Plotly -->
</head>
<body>
    <h1>Gráfico de Candles, Volume, Médias Móveis e RSI da Ação {{ acao }}</h1>
    <form method="POST">
        <label for="linha">Insira o valor da linha:</label>
        <input type="number" name="linha" id="linha">
        <input type="submit" value="Adicionar linha">
    </form>
    <!-- Renderizar o gráfico -->
    {{ plot | safe }}
</body>
</html>
